html, body {
	margin: 10px 0;
	padding: 0;
    font-family: Helvetica, sans-serif;
    color: #333;
	font-size: 16px;
	line-height: 20px;
}

#homework {
    width: 960px;
    margin: 0 auto;
}

#docinfo {
    text-align: right;
    font-size: 15px;
	line-height: 16px;
}
#docinfo div {
    padding: 2px 0;
}

#title {
    text-align: center;
    font-size: 40px;
    line-height: 80px;
    margin-top: 0px;
    border-bottom: 1px solid #ddd;
}

.center {
    margin: 0 auto;
}

.question header h1 {
	margin: 0;
	line-height: 36px;
	font-size: 22px;
}

table.standard {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-spacing: 0;
}

table.standard th, table.standard td {
    padding: 5px 10px;
    margin: 0;
}

table.standard td {
    border-top: 1px solid #ccc;    
}

table.standard tbody th {
    border-top: 1px solid #ccc;
}

table.standard th + th, table.standard td + td, table.standard th + td {
    border-left: 1px solid #ccc;
}

ul.standard, dl.standard {
    padding-left: 30px;    
}

ol.standard {
    padding-left: 35px;    
}

blockquote:after {
    content: '"';
    font-family: serif;
    font-size: 40px;
    position: absolute;
    bottom: -10px;
    right: 10px;
}

blockquote:before {
    content: '"';
    font-family: serif;
    font-size: 40px;
    position: absolute;
    top: 15px;
    left: 10px;
}

blockquote {
    position: relative;
    background: #eee;
    border: 1px solid #ccc;
    width: 500px;
    margin: 20px auto;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    padding: 20px;
}

.attribution:before {
    content: "\2014";
}
.attribution {
    display: block;
    width: 540px;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    text-align: left;
    margin: -15px auto 20px;
}
